<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            http-equiv="Content-Security-Policy"
            content="
    default-src 'self';
    script-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com;
    style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;
    img-src 'self' data: https: blob:;
"
        />
        <title>Instagram Wrapped</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital@0;1&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💬</text></svg>"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
        />

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.min.js"
            integrity="sha512-WJXVjqeINVpi5XXJ2jn0BSCfp0y80IKrYh731gLRnkAS9TKc5KNt/OfLtu+fCueqdWniouJ1ubM+VI/hbo7POQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="/javascript/index.js"></script>
        <script src="/javascript/html2canvas.js"></script>
    </head>
    <body>
        <div id="mobile">
            - Cái này không hoạt động trên mobile được, hãy dùng 1 chiếc máy
            tính nha! Bởi vì cần phải tải data từ Instagram về máy <br />
            <br />
            - This won't work on mobile, please use a computer! Because we need
            to download data from Instagram
        </div>
        <div id="body-gradient">
            <div id="saved-photo-gradient">
                <div id="container">
                    <div id="profile-photo">
                        <div id="profile-info">
                            <img class="hidden" />
                            <h1>
                                instagram wrapped<span class="hidden" id="vn">
                                    vi-en</span
                                >
                                <span id="user-name">(Tiếng Việt)</span>
                            </h1>
                        </div>
                    </div>
                    <section id="main" class="hidden section">
                        <div id="top-row" class="row">
                            <div class="block">
                                <h1
                                    style="max-width: 13em"
                                    id="top-people-or-num-messages-sent"
                                >
                                    Top cái tên luôn nằm trong dm
                                </h1>
                                <ol id="top-people"></ol>
                            </div>
                            <div class="block">
                                <h1 style="max-width: 13em">
                                    Bạn hay thả tim story của ai? 🤨
                                </h1>
                                <ol id="top-story-likes"></ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="block">
                                <h1 style="max-width: 13em">
                                    Bạn hay thích post của ai?
                                </h1>
                                <ol id="top-post-likes"></ol>
                            </div>
                        </div>
                        <div id="bottom-row" class="row">
                            <div class="block">
                                <h1>Bạn đã gửi</h1>
                                <p id="total-messages"></p>
                                <blurb>tin nhắn</blurb>
                            </div>
                            <div class="block">
                                <h1>Bạn đã để lại</h1>
                                <p id="total-reacts-and-stickers"></p>
                                <blurb
                                    style="
                                        max-width: 13em;
                                        display: inline-block;
                                    "
                                    >trái tim trên story của
                                    <span id="total_storylikes_ppl"></span>
                                    người</blurb
                                >
                            </div>
                        </div>
                        <div class="row" id="blocked-row">
                            <div
                                style="
                                    text-align: center;
                                    max-width: 30em;
                                    flex-grow: 0;
                                    margin: 15px 0;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 1em;
                                "
                                class="block"
                            >
                                <h1 id="blocked-note">
                                    trao giải bông hoa tệ nhất
                                </h1>
                                <div id="blocked-section">
                                    <p id="blocked-number"></p>
                                    <blurb
                                        >người đã bị bạn blocked
                                        <p id="restricted"></p
                                    ></blurb>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="row" id="follower-row">
                            <div
                                style="
                                    text-align: center;
                                    width: 100%;
                                    flex-grow: 0;
                                    margin: 15px 0;
                                "
                                class="block"
                            >
                                <h1 id="follower-note" style="margin-top: 0">
                                    Trong năm nay, 5 người này đã tìm thấy bạn
                                </h1>
                                <ul
                                    style="position: relative"
                                    id="followers-list"
                                    class="randompos_ul"
                                ></ul>
                                <br />
                                <blurb id="thank-you"></blurb> <br />

                                <button onclick="randomfollowers()">
                                    tìm 5 người khác
                                </button>
                            </div>
                        </div>
                    </section>
                    <ol id="instruction" class="section">
                        <h1 id="inshead">Hướng dẫn</h1>
                        <li>
                            <p>
                                Tìm 'Your activity' ở phần 'More' trên Instagram
                            </p>
                            <img class="ver" src="/img/instruction/ins1.png" />
                        </li>
                        <li>
                            <p>
                                Vô phần 'Download your information', bấm
                                'Continue'
                            </p>
                            <img src="/img/instruction/ins2.png" />
                        </li>
                        <li>
                            <p>
                                Nó sẽ mở ra cái Accounts Center của Meta, chọn
                                'Request a download'
                            </p>
                            <img src="/img/instruction/ins3.png" />
                        </li>
                        <li>
                            <p>Chọn account instagram của bạn</p>
                            <img src="/img/instruction/ins4.png" />
                        </li>
                        <li>
                            <p>Chọn 'All available information'</p>
                            <img src="/img/instruction/ins5.png" />
                        </li>
                        <li>
                            <p>Chọn 'Download to device'</p>
                            <img src="/img/instruction/device.png" />
                        </li>
                        <li>
                            <p>
                                Chọn options theo hình: <br />
                                - Date range: <em>Last year</em> (có thể chọn 1
                                năm hay 3 tháng, tùy bạn) <br />
                                - Notify: chọn email của bạn <br />
                                - Format: <em>JSON</em> (nhớ chọn JSON!) <br />
                                - Media quality: <em>Low</em> (chất lượng thấp
                                để tải cho nhanh) <br /><br />
                                NHỚ CHỌN 'SAVE' SAU MỖI LẦN ĐỔI OPTION
                            </p>
                            <img src="/img/instruction/ins6.png" />
                        </li>
                        <li>
                            <p>
                                Chờ cho pending download, bình thường chắc tầm
                                nửa tiếng - nó sẽ notify qua email bạn chọn ở
                                bước trên
                            </p>
                            <img src="/img/instruction/ins7.png" />
                        </li>
                        <li>
                            <p>
                                Sau khi xong chọn 'Download' để tải về, file
                                size sẽ có thể khá nặng lên tới mấy GB
                            </p>
                            <img src="/img/instruction/ins8.png" />
                        </li>
                        <li>
                            <p>
                                Tải về sẽ được 1 file .zip, giải nén file ra 1
                                folder như hình
                            </p>
                            <img
                                style="margin-bottom: 20px"
                                src="/img/instruction/ins9.png"
                            />
                            <img src="/img/instruction/ins10.png" />
                        </li>
                        <li>
                            <p>
                                Kiểm tra xem có thấy bên trong folder giải nén
                                sẽ có một đống file như hình
                            </p>
                            <img src="/img/instruction/ins11.png" />
                        </li>
                        <li>
                            <p>
                                Click cái nút ở dưới và chọn folder vừa giải
                                nén. <br /><br />
                                Yên tâm! Toàn bộ dữ liệu đều được xử lý trong
                                máy bạn - hoàn toàn không có data nào được tải
                                lên hết, nên không lo bị hack hay j đâu!
                                <br /><br />
                                Thỉnh thoảng Instagram nó sẽ thay đổi cấu trúc
                                file trong đống dữ liệu bạn tải xuống nên cái
                                web này sẽ không thể đọc được data của bạn - nên
                                bạn hãy nhắn tin cho @bao.anh.bui để mình biết
                                nha
                            </p>
                            <img src="/img/instruction/ins12.png" />
                        </li>
                        <button id="readDirectory" onclick="readDirectory()">
                            Chọn folder vừa giải nén
                        </button>
                        <div id="error"></div>
                    </ol>
                </div>
            </div>
            <div id="footer">
                created by
                <a href="https://www.instagram.com/bao.anh.bui/" target="_blank"
                    ><b>@bao.anh.bui</b></a
                >, forked & modified from
                <a
                    href="https://www.instagram.com/anotherbrowsertab/"
                    target="_blank"
                    ><b>@anotherbrowsertab</b></a
                >'s 2022 #MESSENGERWRAPPED <br />
                thank you
                <b>
                    @_v_tex_, @wohcb__, @ziemthene, @ducthao_, @chajahcha,
                    @pim_pimnguyen, @ngmtuan</b
                >
                for testing and bug detecting
            </div>
            <div class="hidden" id="capture"></div>
            <button id="pause-button" onclick="pauseStartAnimation()">
                <span id="pause-button-icon" class="material-symbols-outlined"
                    >pause</span
                >
                <span id="pause-button-text">Dừng animation</span>
            </button>
            <button id="screenshot" onclick="screenshot(this)">
                chụp ảnh màn hình
            </button>
        </div>
        <script src="/javascript/sketch.js"></script>
    </body>
</html>
